# arquivos de relatorio
mochawesome-report
cypress/reports-cucumber/cucumber-json
cypress/reports-cucumber/index.html
cypress/reports-cucumber/index.html.json

# videos
cypress/videos


#outros arquivos
node_modules
.DS_Store
debug.log
